@if (ViewBag.IsPjaxRequest ?? false)
{
    <title>@ViewBag.Title</title>
    @RenderBody()
    @RenderSection("Scripts", false)
    return;
}
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>VDF Faktoring</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/metronicCss")

    <link rel="shortcut icon" href="favicon.ico" />
</head> <!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-sidebar-fixed">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->

        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="index.html"> <img src="@Url.Content("~/Content/assets/layouts/layout/img/vdf_logo.png")" alt="Vdf Faktoring" class="logo-default" /> </a>
                <div class="menu-toggler sidebar-toggler"> </div>
            </div> 
        <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a> 
        <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            @Html.Partial("_TopNavigation")
            <!-- END TOP NAVIGATION MENU -->
        </div> <!-- END HEADER INNER -->
    </div> <!-- END HEADER --> <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div> <!-- END HEADER & CONTENT DIVIDER --> <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        @Html.Partial("_PageSideBar")
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content" id="page-content">
                <!--BEGIN RENDERED-BODY-->
                <div id="rendered-body">
                    @RenderBody()
                </div>
                <!--END RENDERED-BODY-->
            </div> <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
    @Html.Partial("_PageFooter")
    <!-- END FOOTER -->
    <!--[if lt IE 9]>
      @Scripts.Render("~/bundles/metronicJsForIE")
    <![endif]-->
    @Scripts.Render("~/bundles/metronicJs")

    <script>
        ROOT_DIR = "@Url.Content("~/")"; // root direction for site eg: /vdfFactoring ( _GLOBAL.js )
        $(document).pjax("a.nav-link", "#rendered-body");
        $.pjax.defaults.timeout = 20000; // default time out=20 secs
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>