@model VdfFactoring.ViewModels.DataGridTestModel 

<div class="page-bar">

    @Html.Partial("_Breadcrumbs")

</div> <!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">sample data grid page  </h3>
<!-- END PAGE TITLE-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Form Sample</span>
                    <span class="caption-helper">demo form...</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        @*<h3 class="form-section">Person Info</h3>*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Chee Kin">
                                    <span class="help-block"> This is inline help </span>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-error">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="Lim">
                                    <span class="help-block"> This field has error. </span>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Gender</label>
                                    <select class="form-control">
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>
                                    <span class="help-block"> Select your gender </span>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Date of Birth</label>
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                    </div>
                    <div class="form-actions right">
                        <button type="button" class="btn default">Temizle</button>
                        <button type="submit" class="btn blue" id="submit-button">
                            <i class="fa fa-check"></i> Listele
                        </button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

    </div>
</div>

@Html.Partial("_DataGrid", Model.SampleGrid)

@section Scripts{
    <script type="text/javascript">

    $("#submit-button").click(function (event) {
        event.preventDefault();
        var summaryColumns= JSON.parse('@Html.Raw(Model.SampleGrid.SummaryColumns)');
        var bodyColumns = JSON.parse('@Html.Raw(Model.SampleGrid.BodyColumns)');
        var rowactions = JSON.parse('@Html.Raw(Model.SampleGrid.RowActions)');
        var dataGrid = new DataGrid('#@Model.SampleGrid.DataGrid.Id', bodyColumns, summaryColumns, '@Url.Action("FillDataGrid", "Test")', rowactions);
        dataGrid.initialize();
        });


</script>
    
    }
